GestionPedidos/Connected Services/ServiceReferenceGestionPedidos/WSGestionPedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cliente_Agregar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjCliente" type="tns:ClienteE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClienteE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClId1" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClCuit1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClRazonSocial1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClDireccion1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClTelefono1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClEmail1" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Cliente_AgregarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Cliente_AgregarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cliente_Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjCliente" type="tns:ClienteE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cliente_ActualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Cliente_ActualizarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cliente_ObtenerPorCampo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="field" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cliente_ObtenerPorCampoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cliente_ObtenerPorCampoResult" type="tns:ClienteE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cliente_ObtenerTodo">
        <s:complexType />
      </s:element>
      <s:element name="Cliente_ObtenerTodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cliente_ObtenerTodoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cliente_Borrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjCliente" type="tns:ClienteE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cliente_BorrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Cliente_BorrarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Producto_Agregar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjProducto" type="tns:ProductoE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductoE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PrId1" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PrCodigo1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrDescripcion1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrUnidadMedida1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrPrecioVenta1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrPrecioCompra1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrFechaActPrecioVenta1" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PrFechaActPrecioCompra1" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="Producto_AgregarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Producto_AgregarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Producto_Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjProducto" type="tns:ProductoE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Producto_ActualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Producto_ActualizarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Producto_ObtenerPorCampo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="field" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Producto_ObtenerPorCampoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Producto_ObtenerPorCampoResult" type="tns:ProductoE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Producto_ObtenerTodo">
        <s:complexType />
      </s:element>
      <s:element name="Producto_ObtenerTodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Producto_ObtenerTodoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Producto_Borrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjProducto" type="tns:ProductoE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Producto_BorrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Producto_BorrarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnidadMedida_ObtenerTodo">
        <s:complexType />
      </s:element>
      <s:element name="UnidadMedida_ObtenerTodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnidadMedida_ObtenerTodoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Cliente_AgregarSoapIn">
    <wsdl:part name="parameters" element="tns:Cliente_Agregar" />
  </wsdl:message>
  <wsdl:message name="Cliente_AgregarSoapOut">
    <wsdl:part name="parameters" element="tns:Cliente_AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="Cliente_ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Cliente_Actualizar" />
  </wsdl:message>
  <wsdl:message name="Cliente_ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:Cliente_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="Cliente_ObtenerPorCampoSoapIn">
    <wsdl:part name="parameters" element="tns:Cliente_ObtenerPorCampo" />
  </wsdl:message>
  <wsdl:message name="Cliente_ObtenerPorCampoSoapOut">
    <wsdl:part name="parameters" element="tns:Cliente_ObtenerPorCampoResponse" />
  </wsdl:message>
  <wsdl:message name="Cliente_ObtenerTodoSoapIn">
    <wsdl:part name="parameters" element="tns:Cliente_ObtenerTodo" />
  </wsdl:message>
  <wsdl:message name="Cliente_ObtenerTodoSoapOut">
    <wsdl:part name="parameters" element="tns:Cliente_ObtenerTodoResponse" />
  </wsdl:message>
  <wsdl:message name="Cliente_BorrarSoapIn">
    <wsdl:part name="parameters" element="tns:Cliente_Borrar" />
  </wsdl:message>
  <wsdl:message name="Cliente_BorrarSoapOut">
    <wsdl:part name="parameters" element="tns:Cliente_BorrarResponse" />
  </wsdl:message>
  <wsdl:message name="Producto_AgregarSoapIn">
    <wsdl:part name="parameters" element="tns:Producto_Agregar" />
  </wsdl:message>
  <wsdl:message name="Producto_AgregarSoapOut">
    <wsdl:part name="parameters" element="tns:Producto_AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="Producto_ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Producto_Actualizar" />
  </wsdl:message>
  <wsdl:message name="Producto_ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:Producto_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="Producto_ObtenerPorCampoSoapIn">
    <wsdl:part name="parameters" element="tns:Producto_ObtenerPorCampo" />
  </wsdl:message>
  <wsdl:message name="Producto_ObtenerPorCampoSoapOut">
    <wsdl:part name="parameters" element="tns:Producto_ObtenerPorCampoResponse" />
  </wsdl:message>
  <wsdl:message name="Producto_ObtenerTodoSoapIn">
    <wsdl:part name="parameters" element="tns:Producto_ObtenerTodo" />
  </wsdl:message>
  <wsdl:message name="Producto_ObtenerTodoSoapOut">
    <wsdl:part name="parameters" element="tns:Producto_ObtenerTodoResponse" />
  </wsdl:message>
  <wsdl:message name="Producto_BorrarSoapIn">
    <wsdl:part name="parameters" element="tns:Producto_Borrar" />
  </wsdl:message>
  <wsdl:message name="Producto_BorrarSoapOut">
    <wsdl:part name="parameters" element="tns:Producto_BorrarResponse" />
  </wsdl:message>
  <wsdl:message name="UnidadMedida_ObtenerTodoSoapIn">
    <wsdl:part name="parameters" element="tns:UnidadMedida_ObtenerTodo" />
  </wsdl:message>
  <wsdl:message name="UnidadMedida_ObtenerTodoSoapOut">
    <wsdl:part name="parameters" element="tns:UnidadMedida_ObtenerTodoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSGestionPedidosSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cliente_Agregar">
      <wsdl:input message="tns:Cliente_AgregarSoapIn" />
      <wsdl:output message="tns:Cliente_AgregarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cliente_Actualizar">
      <wsdl:input message="tns:Cliente_ActualizarSoapIn" />
      <wsdl:output message="tns:Cliente_ActualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cliente_ObtenerPorCampo">
      <wsdl:input message="tns:Cliente_ObtenerPorCampoSoapIn" />
      <wsdl:output message="tns:Cliente_ObtenerPorCampoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cliente_ObtenerTodo">
      <wsdl:input message="tns:Cliente_ObtenerTodoSoapIn" />
      <wsdl:output message="tns:Cliente_ObtenerTodoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cliente_Borrar">
      <wsdl:input message="tns:Cliente_BorrarSoapIn" />
      <wsdl:output message="tns:Cliente_BorrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Producto_Agregar">
      <wsdl:input message="tns:Producto_AgregarSoapIn" />
      <wsdl:output message="tns:Producto_AgregarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Producto_Actualizar">
      <wsdl:input message="tns:Producto_ActualizarSoapIn" />
      <wsdl:output message="tns:Producto_ActualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Producto_ObtenerPorCampo">
      <wsdl:input message="tns:Producto_ObtenerPorCampoSoapIn" />
      <wsdl:output message="tns:Producto_ObtenerPorCampoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Producto_ObtenerTodo">
      <wsdl:input message="tns:Producto_ObtenerTodoSoapIn" />
      <wsdl:output message="tns:Producto_ObtenerTodoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Producto_Borrar">
      <wsdl:input message="tns:Producto_BorrarSoapIn" />
      <wsdl:output message="tns:Producto_BorrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnidadMedida_ObtenerTodo">
      <wsdl:input message="tns:UnidadMedida_ObtenerTodoSoapIn" />
      <wsdl:output message="tns:UnidadMedida_ObtenerTodoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSGestionPedidosSoap" type="tns:WSGestionPedidosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_Agregar">
      <soap:operation soapAction="http://tempuri.org/Cliente_Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_Actualizar">
      <soap:operation soapAction="http://tempuri.org/Cliente_Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_ObtenerPorCampo">
      <soap:operation soapAction="http://tempuri.org/Cliente_ObtenerPorCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_ObtenerTodo">
      <soap:operation soapAction="http://tempuri.org/Cliente_ObtenerTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_Borrar">
      <soap:operation soapAction="http://tempuri.org/Cliente_Borrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_Agregar">
      <soap:operation soapAction="http://tempuri.org/Producto_Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_Actualizar">
      <soap:operation soapAction="http://tempuri.org/Producto_Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_ObtenerPorCampo">
      <soap:operation soapAction="http://tempuri.org/Producto_ObtenerPorCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_ObtenerTodo">
      <soap:operation soapAction="http://tempuri.org/Producto_ObtenerTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_Borrar">
      <soap:operation soapAction="http://tempuri.org/Producto_Borrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnidadMedida_ObtenerTodo">
      <soap:operation soapAction="http://tempuri.org/UnidadMedida_ObtenerTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSGestionPedidosSoap12" type="tns:WSGestionPedidosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_Agregar">
      <soap12:operation soapAction="http://tempuri.org/Cliente_Agregar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/Cliente_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_ObtenerPorCampo">
      <soap12:operation soapAction="http://tempuri.org/Cliente_ObtenerPorCampo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_ObtenerTodo">
      <soap12:operation soapAction="http://tempuri.org/Cliente_ObtenerTodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente_Borrar">
      <soap12:operation soapAction="http://tempuri.org/Cliente_Borrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_Agregar">
      <soap12:operation soapAction="http://tempuri.org/Producto_Agregar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/Producto_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_ObtenerPorCampo">
      <soap12:operation soapAction="http://tempuri.org/Producto_ObtenerPorCampo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_ObtenerTodo">
      <soap12:operation soapAction="http://tempuri.org/Producto_ObtenerTodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Producto_Borrar">
      <soap12:operation soapAction="http://tempuri.org/Producto_Borrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnidadMedida_ObtenerTodo">
      <soap12:operation soapAction="http://tempuri.org/UnidadMedida_ObtenerTodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSGestionPedidos">
    <wsdl:port name="WSGestionPedidosSoap" binding="tns:WSGestionPedidosSoap">
      <soap:address location="http://localhost:62116/WSGestionPedidos.asmx" />
    </wsdl:port>
    <wsdl:port name="WSGestionPedidosSoap12" binding="tns:WSGestionPedidosSoap12">
      <soap12:address location="http://localhost:62116/WSGestionPedidos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>